#test
name: Phoenix Royale CI/CD Pipeline
on: [push]

jobs:
  member-6-integration-check:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Install Ansible
        run: sudo apt update && sudo apt install -y ansible

      - name: Validate Ansible Syntax
        # This checks for typos in your scripts without needing a connection
        run: ansible-playbook -i ansible/inventory.ini ansible/deploy-movie-app.yml --syntax-check

      - name: Dry Run Simulation
        # This lists the tasks to prove the logic is production-ready
        run: ansible-playbook -i ansible/inventory.ini ansible/deploy-movie-app.yml --list-tasks
